.container-main-temperature {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-main-weather-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container-main-weather-info {
  display: flex;
  flex-direction: column;
}

.main-temperature {
  font-size: 3.5rem;
}

.main-apparent-temperature {
  font-size: 1.5rem;
  color: var(--color-secondary-text);
}

.weather-icon {
  width: 5rem;
  height: auto;
}