.container-mini-weather {
  background-color: var(--color-secondary-bg);
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  padding: 35px 0 35px 24px;
  gap: 2rem;
  border-radius: 10px;
  justify-content: center;
  box-shadow: var(--color-shadow);
}

.container-mini-weather-info {
  display: flex;
  gap: 2rem;
}

.icon-tools {
  width: 1.5rem;
  height: auto;
}