.container-carousel {
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: #78bcff;
  overflow-x: hidden;
  outline: none;
  padding: 1rem;
  border-radius: 0.75rem;
}


.container-carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60px;
  gap: 0.5rem
}

